asn1crypto==0.24.0
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
click==5.1
cryptography==2.1.4
Flask==0.12.2
gitconsensus==0.4.0
-e git+git@github.com:tedivm/GitConsensusService.git@962d31e6154fa58964dd264038abb747e0aa1bd9#egg=gitconsensusservice
github3.py==0.9.6
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pycparser==2.18
PyJWT==1.5.3
PyYAML==3.12
requests==2.18.4
six==1.11.0
uritemplate==3.0.0
uritemplate.py==3.0.2
urllib3==1.22
Werkzeug==0.14.1
