[Unit]
Description=GitConsensus Service
After=network.target

[Service]
Type=forking
User=gitconsensus
Group=gitconsensus
EnvironmentFile=-/etc/gitconsensus/celery
WorkingDirectory=${CELERY_HOME}
ExecStart=/bin/sh -c 'source ${CELERY_HOME}/venv/bin/activate && ${CELERY_BIN} multi start ${CELERYD_NODES} -A ${CELERY_APP} --pidfile=${CELERYD_PID_FILE} --logfile=${CELERYD_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL} ${CELERYD_OPTS}'
ExecStop=/bin/sh -c 'source ${CELERY_HOME}/venv/bin/activate && ${CELERY_BIN} multi stopwait ${CELERYD_NODES} --pidfile=${CELERYD_PID_FILE}'
ExecReload=/bin/sh -c 'source ${CELERY_HOME}/venv/bin/activate && ${CELERY_BIN} multi restart ${CELERYD_NODES} -A ${CELERY_APP} --pidfile=${CELERYD_PID_FILE} --logfile=${CELERYD_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL} ${CELERYD_OPTS}'

[Install]
WantedBy=multi-user.target
